! Tango color scheme
! ------------------
URxvt*foreground:       #eeeeec
URxvt*background:       #2e3436
URxvt*cursorColor:      #8ae234
URxvt*colorUL:          #8ae234
URxvt*underlineColor:   #92659a
! - Aluminium -
URxvt*color0:           #2e3436
URxvt*color8:           #888A85
! - Scariet Red -
URxvt*color1:           #cc0000
URxvt*color9:           #ef2929
! - Chameleon -
URxvt*color2:           #4e9a06
URxvt*color10:          #8ae234
! - Butter -
URxvt*color3:           #edd400
URxvt*color11:          #fce94f
! - Sky Blue -
URxvt*color4:           #3465a4
URxvt*color12:          #729fcf
! - Plum -
URxvt*color5:           #92659a
URxvt*color13:          #c19fbe
! - Cyan -
URxvt*color6:           #07c7ca
URxvt*color14:          #63e9e9
! - Aluminium 2 -
URxvt*color7:           #d3d7cf
URxvt*color15:          #eeeeec

URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.font: 		xft:monospace:size=20
URxvt.scrollBar:	false

!! Extensions
URxvt.perl-ext-common:	default,matcher,resize-font,url-select,keyboard-select
URxvt.colorUL:		#4682B4
!! url-select
URxvt.keysym.M-u:	perl:url-select:select_next
URxvt.url-select.launcher: linkhandler
URxvt.url-select.underline: true
!! keyboard-select:
URxvt.keysym.M-Escape: perl:keyboard-select:activate
!! resize-font
URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up
!! Matcher
URxvt.url-launcher:	linkhandler
URxvt.matcher.button:	1
